<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <img src="{% static 'img/img.png' %}" width="200" height="300" class="d-inline-block align-top" alt="">
<img src="{% static 'img/img.png' %}" width="200" height="300" class="d-inline-block align-top" alt="">
<img src="{% static 'img/img.png' %}" width="200" height="300" class="d-inline-block align-top" alt="">
<img src="{% static 'img/img.png' %}" width="200" height="300" class="d-inline-block align-top" alt="">
<img src="{% static 'img/img.png' %}" width="200" height="300" class="d-inline-block align-top" alt="">
<img src="{% static 'img/img.png' %}" width="200" height="300" class="d-inline-block align-top" alt="">
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при :размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Блокчейн – это технология хранения данных, которые хранятся в цепочке последовательно связанных блоков на компьютерах. Каждый блок содержит уникальный код, называемый хешем. Он также содержит хэш предыдущего блока в цепочке. После того, как запись добавлена в цепочку, ее невозможно изменить. Отсюда и название block (блок) и chain (цепочка).</p>
  </article>
</div>
{% endblock %}
